<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.4.1">
      <useBuildBlocker>false</useBuildBlocker>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <hudson.plugins.disk__usage.DiskUsageProperty plugin="disk-usage@0.23"/>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>/usr/share/jmeter/bin/jmeter -n -t /etc/puppet/files/jmeter/plans/testplan_03.jmx -l /tmp/result_03.jtl -j /tmp/jmeter.log</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.performance.PerformancePublisher plugin="performance@1.10">
      <errorFailedThreshold>100</errorFailedThreshold>
      <errorUnstableThreshold>50</errorUnstableThreshold>
      <errorUnstableResponseTimeThreshold></errorUnstableResponseTimeThreshold>
      <relativeFailedThresholdPositive>40.0</relativeFailedThresholdPositive>
      <relativeFailedThresholdNegative>0.0</relativeFailedThresholdNegative>
      <relativeUnstableThresholdPositive>60.0</relativeUnstableThresholdPositive>
      <relativeUnstableThresholdNegative>40.0</relativeUnstableThresholdNegative>
      <nthBuildNumber>0</nthBuildNumber>
      <modeRelativeThresholds>false</modeRelativeThresholds>
      <configType>ART</configType>
      <modeOfThreshold>false</modeOfThreshold>
      <compareBuildPrevious>false</compareBuildPrevious>
      <modePerformancePerTestCase>true</modePerformancePerTestCase>
      <parsers>
        <hudson.plugins.performance.JMeterParser>
          <glob>/tmp/result_03.jtl</glob>
        </hudson.plugins.performance.JMeterParser>
      </parsers>
    </hudson.plugins.performance.PerformancePublisher>
    <hudson.tasks.BuildTrigger>
      <childProjects>code-analyse</childProjects>
      <threshold>
        <name>FAILURE</name>
        <ordinal>2</ordinal>
        <color>RED</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </hudson.tasks.BuildTrigger>
  </publishers>
  <buildWrappers/>
</project>